# PostgreSQL
POSTGRES_USER=example_user
POSTGRES_PASSWORD=example_password
POSTGRES_HOST=localhost
POSTGRES_DB_PORT=5432
POSTGRES_DB=postgres
# JWT keys
SECRET_KEY_ACCESS=848qKq7dGp34hWij3c8txA5ZD2qm9yb8
SECRET_KEY_REFRESH=cF2Rk8kllHMW71wQKLXBqDzl24fkhisv
JWT_SIGNING_ALGORITHM=HS256